/* IMAGE STYLES */
.rounded-circle {
    border-radius: 50%!important;
}
img {
    vertical-align: middle;
    border-style: none;
}

/*  TEXT STYLES */
.lead {
    font-size: 2.15rem;
    font-weight: 300;
    text-align: center;
}


body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,
    "Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}


.featurette-heading {
    font-weight: 300, bold;
    line-height: 1;
    letter-spacing: -.05rem;
    text-align: center;

}

/* maps */
#map,
body,
html {
  height: 400px;
}

#map2,
body,
html {
  height: 400px;
}
